#ham {
	width: 70px;
	height: 70px;
	margin-right: 70px;
	margin-top: 70px;
	font-size: 25px;
	background-color: #000;
	color: #fff;
	border: 0;
	position: fixed;
	right: 0;
	z-index: 11;
}

#menu{
	position: absolute;
  	top: 0;
  	right: 0;
	width: 50%;
	background-color: #000;
	height: 100%;
	margin-right: -50%;
	z-index: 12;
}

#menu ul{
	font-size: 2em;
	list-style-type: none;
	text-align: center;
}

#menu li{
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Nevis';
	cursor: pointer;
	right: 0;
	bottom: 0;
}

#menu a{
	text-decoration: none;
	color: #fff;
}

.menuicon {
	float: right;
}

#border{
	padding: 50px 40px 50px 40px;
	width: auto;
	border: 2px #fff solid;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 35%;

}

#close{
	font-size: 3em;
	float: right;
	margin-top: 10px;
	margin-right: 30px;
}

body {
	overflow-x: hidden;
}

#homepage {
	background-image: url('../img/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	overflow-x: hidden; 
}


#homepagetext {
	text-align: center;
	color: #fff;
	padding-top: 20%;
}

#homepagetext h1 {
	font-size: 75px;
	font-family: 'Nevis';
	
}

#homepagetext p {
	font-size: 20px;
	font-family: 'Nexa';
}

#abouttext {
	font-size: 35px;
	font-family: 'Nexa';
	padding-top: 5%;
}

#faces {
	padding-top: 8%;
	text-align: center;
}

#facespic {
	width: 30%;
	height: 30%;
	border-radius: 50%;
	box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}

.portfolio-box{
	height: 100%;
	position: relative;
}

.left{
	float: left;
	width: 50%;
	height: inherit;
	background-position: center;
	background-size: auto 100%;

}

.right{
	float: right;
	width: 50%;
	height: inherit;
	background-position: center;
	background-size: auto 100%;
}

.circle {
	border-radius: 50%;
	width: 80px;
	height: 80px;
	position: absolute;
	background-color: #650D1B;
	top: 0; bottom:0; left: 0; right:0;
    margin: auto;
	/* width and height can be anything, as long as they're equal */
}

.circle:hover{
	background-color: #5C0C19;
}

.circle p {
	color: #fff;
	font-size: 1.5em;
	text-align: center;
	font-family: 'Nexa';
	line-height: 80px;
}

#uma {
	background-image: url('../img/uma.png');
}

#amie {
	background-image: url('../img/amie.png');
}

.siteinfo {
	height: 100%;
	padding-top: 35%;
	background-color: #FDFDFD;
}

.siteinfo h1 {
	text-align: center;
	font-family: "Nevis";
	font-size: 60px;
	letter-spacing: 3px;
}

.siteinfo p {
	padding-top: 5%;
	text-align: center;
	font-family: "Nexa";
	font-size: 25px;
}

.pagination {
	position:fixed;
	right:20px;
	top: 50%;
  	transform: translateY(-50%);

	font-size:1.4em;
	z-index: 10;
}

.pagination ol, ul {
	list-style: none;
	vertical-align: baseline;

}

.pagination li {
    display: list-item;
    text-align: -webkit-match-parent;
    color: #fff;
}

.pagination>li>a {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #000;
    text-decoration: none;
    background-color: transparent; 
    border: none;
}

.pagination>li>a:hover {
	color: #555;
	background-color: transparent;

}

.pagination>li>a:focus{
	color: #000;
	background-color: #fff;
	border: none;
}

.pagination a {
	display:block;
	height:20px;
	margin-bottom:5px;
	color:white;
	position:relative;
	padding:4px;
}
.pagination a.active:after {
	box-shadow:inset 0 0 0 5px;
}
.pagination a .hover-text {
	position:absolute;
	right:15px;
	top:7px;
	opacity:0;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	padding-right: 15px;
}
.pagination a:hover .hover-text {
	opacity: 1;
}
.pagination a:after {
	-webkit-transition:box-shadow 0.5s ease;
	transition:box-shadow 0.5s ease;
	width:10px;
	height:10px;
	display: block;
	border:1px solid;
	border-radius:50%;
	content:'';
	position: absolute;
	margin:auto;
	top:0;
	right:4px;
	bottom:0;
}

.contactstext

{
	padding-top: 12%;
}

.contactstext h1 {
	font-family: 'Nevis';
	font-size: 100px;
	color: #000;
}

.contactstext p {
	font-family: 'Nevis';
	font-size: 25px;
	color: #000;
	padding-top: 4%;
	padding-bottom: 4%;
}

.contactstext #maks p  {
	text-align: right;
}

.contactstext .col-lg-6 {
	height: 140px;
}

.contactstext #kate {
	margin-top: 10%;
}

.contactstext #kate p {
	text-align: left;
}

.contactstext #kate h1 {
	text-align: right;
}

 @font-face {
  font-family: 'Gilroy B';
  src: url('../fonts/Gilroy-Bold.OTF');
}

 @font-face {
  font-family: 'Gilroy L';
  src: url('../fonts/Gilroy-Light.OTF');
}

@font-face {
  font-family: 'Nevis';
  src: url('../fonts/Nevis.TTF');
}

@font-face {
  font-family: 'Kano';
  src: url('../fonts/Kano.OTF');
}

@font-face {
  font-family: 'Nexa';
  src: url('../fonts/Nexa Light.OTF');
}

	.skillbar {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

.skillbar-bar:before {
    background: #eee;
    content: "";
    height: 3px;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.skillbar-bar {
    height: 3px;
    width: 0px;
    background: #323232;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

.skillbar-title {
    display: inline;
}

.skillbar-title, .skill-bar-percent {
    color: #323232;
    font-size: 15px;
    font-weight: 600;
    font-family: "Nexa";
    /*text-transform: uppercase; */
}


.skill-bar-percent {
    float: right;
    display: inline;
    line-height: 24px;
}

@media(max-width:1500px) {

#border{
	padding: 50px 40px 50px 40px;
	width: auto;
	border: 2px #fff solid;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 25%;
}

#facespic {
	width: 22%;
	height: 22%;
}

#abouttext {
	font-size: 25px;
}

.skillbar {
	margin-bottom: 15px;
}
}

@media(max-width:1300px) {

#border{
	padding: 50px 40px 50px 40px;
	width: auto;
	border: 2px #fff solid;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 25%;
}

#faces {
	padding-top: 4%;
}

#facespic {
	width: 18%;
	height: 18%;
}

#abouttext {
	font-size: 25px;
}

.skillbar {
	margin-bottom: 12px;
}
}