#ham {
	width: 70px;
	height: 70px;
	font-size: 25px;
	margin-right: 70px;
	margin-top: 50%;
	background-color: #000;
	color: #fff;
	padding: 14%;
	border: 0;
}

#menu{
	position: absolute;
  	top: 0;
  	right: 0;
	width: 50%;
	background-color: #000;
	height: 100%;
	margin-right: -50%;
}

#menu ul{
	font-size: 2em;
	list-style-type: none;
	text-align: center;
	padding-top: 30%;
}

#menu li{
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Nevis';
	cursor: pointer;
	right: 0;
	bottom: 0;
}

#menu a{
	text-decoration: none;
	color: #fff;
}

.open{
	margin-right: 0%;
}

#close{
	font-size: 3em;
	float: right;
	margin-top: 10px;
	margin-right: 30px;
}

body {
	overflow-x: hidden;
}

#homepage {
	background-image: url('../img/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	overflow-x: hidden; 
}


#homepagetext {
	text-align: center;
	color: #fff;
	padding-top: 20%;
}

#homepagetext h1 {
	font-size: 75px;
	font-family: 'Nevis';
	
}

#homepagetext p {
	font-size: 20px;
	font-family: 'Nexa';
}

#abouttext {
	font-size: 35px;
	font-family: 'Nexa';
	padding-top: 5%;
}

#faces {
	padding-top: 12%;
	margin: auto;
	display: block;
	text-align: center;
}

#facespic {
	width: 350px;
	height: 350px;
	border-radius: 50%;
	box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}

.contactstext

{
	padding-top: 12%;
}

.contactstext h1 {
	font-family: 'Nevis';
	font-size: 100px;
	color: #000;
}

.contactstext p {
	font-family: 'Nevis';
	font-size: 25px;
	color: #000;
	padding-top: 4%;
	padding-bottom: 4%;
}

.contactstext #maks p  {
	text-align: right;
}

.contactstext .col-lg-6 {
	height: 140px;
}

.contactstext #kate {
	margin-top: 10%;
}

.contactstext #kate p {
	text-align: left;
}

.contactstext #kate h1 {
	text-align: right;
}


.skillbar {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

.skillbar-bar:before {
    background: #eee;
    content: "";
    height: 3px;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.skillbar-bar {
    height: 3px;
    width: 0px;
    background: #323232;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

.skillbar-title {
    display: inline;
}

.skillbar-title, .skill-bar-percent {
    color: #323232;
    font-size: 15px;
    font-weight: 600;
    font-family: "Nexa";
    /*text-transform: uppercase; */
}


.skill-bar-percent {
    float: right;
    display: inline;
}

.skillbar-title2 {
	text-align: right;
	  font-size: 15px;
    font-weight: 600;
    font-family: "Nexa";
    display: inline;
}

 @font-face {
  font-family: 'Gilroy B';
  src: url('../fonts/Gilroy-Bold.OTF');
}

 @font-face {
  font-family: 'Gilroy L';
  src: url('../fonts/Gilroy-Light.OTF');
}

@font-face {
  font-family: 'Nevis';
  src: url('../fonts/Nevis.TTF');
}

@font-face {
  font-family: 'Kano';
  src: url('../fonts/Kano.OTF');
}

@font-face {
  font-family: 'Nexa';
  src: url('../fonts/Nexa Light.OTF');
}